.logo{
    
    
}
.banner{
    background: url(images/Untitled\ design\ \(13\).png);
    background-size: cover;
    background-repeat: no-repeat;

}
.container2{
    width: 80%;
    margin: auto;
}